{%- comment -%}
  Blog Template
    Standard blog template

  Version:
    1.0.0 - 2019/01/30
{%- endcomment -%}

{%- assign perPage = 4 | times: 3 | plus: 1 -%}

<section class="c-blog-template">

  <header class="c-section__heading c-blog-template__heading" role="banner">
    <h1>{{- blog.title | escape -}}</h1>
  </header>


  {%- paginate blog.articles by perPage -%}
    {%- comment -%} First (Featured) Article {%- endcomment -%}
    <div class="c-blog-template__body">
      {%- for article in blog.articles limit: 1 -%}
        <article class="c-blog-template__featured-article" itemscope itemtype="article">
          {%- if article.image != blank -%}
            <a href="{{ article.url }}" class="c-blog-template__featured-article-picture"  itemprop="sameAs">
              {%- include 'tool.picture' with {
                image: article.image, attributes: 'itemprop="image"',
                class: 'c-blog-template__featured-article-picture-image'
              } -%}
            </a>
          {%- endif -%}

          <div class="c-blog-template__featured-article-details">
            <h2 class="o-title" itemprop="name">
              <a href="{{ article.url }}" itemprop="sameAs">
                {{- article.title | escape -}}
              </a>
            </h2>

            <span class="c-blog-template__featured-article-author">
              {%-capture date-%}
                {{ article.published_at | time_tag: format: 'month_day_year' }}
              {%-endcapture-%}
              {{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}
            </span>

            {%- if article.excerpt != blank -%}
              <p itemprop="description">{{ article.excerpt }}</p>
            {%- endif -%}

            <a href="{{ article.url }}" class="o-link" itemprop="sameAs">
              {{- 'blogs.article.read_more' | t -}}
            </a>
          </div>
        </article>

      {%- else  -%}
        {%- comment -%} No Articles {%- endcomment -%}
      {%- endfor -%}

      {%- comment -%} Additional Articles {%- endcomment -%}
      {%- if blog.articles.size > 1 -%}
        <div class="c-blog-template__articles">

          {%- for article in blog.articles offset: 1 -%}
            <article class="c-blog-template__article" itemscope itemtype="article">
              <div class="c-blog-template__article-wrapper">
                {%- if article.image != blank -%}
                  <a href="{{ article.url }}" class="c-blog-template__article-picture" itemprop="sameAs">
                    {%- include 'tool.picture' with {
                      image: article.image, class: 'c-blog-template__article-picture-image',
                      width: 600, widths: '150,300', attributes: 'itemprop="image"'
                    } -%}
                  </a>
                {%- endif -%}

                <div class="c-blog-template__article-details">
                  <h3><a href="{{ article.url }}" itemprop="sameAs">
                    {{- article.title | escape -}}
                  </a></h3>

                  <a href="{{ article.url }}" class="o-link" itemprop="sameAs">
                    {{- 'blogs.article.read_more' | t -}}
                  </a>
                </div>
              </div>
            </article>
          {%- endfor -%}
        </div>
        {%- include 'object.pagination' -%}
      {%- endif -%}
    </div>
  {%- endpaginate -%}
</section>
