{%- comment -%}
  Collection Template Faceted Nav
    The Faceted Nav for the Collection template.

  Version:
    1.0.0 - 2019/01/09
{%- endcomment -%}
<nav class="c-collection-faceted-nav" data-faceted-nav>

  <div class="c-collection-faceted-nav__group" data-faceted-nav-types>
    {%- comment -%} "All" Types Filter {%- endcomment -%}
    <a
      href="?type=all"
      data-faceted-nav-type data-type="All"
      class="
        c-collection-faceted-nav__filter
        {% if collection.current_type == blank %}is-active{% endif %}
      "
    >
      All
    </a>

    {%- for type in collection.all_types -%}
      {%- comment -%} Build standard url {%- endcomment -%}
      {%- capture url -%}
        {{- collection.url -}}
        {%- if type != blank -%}
          ?type={{ type | url_param_escape -}}
        {%- endif -%}
      {%- endcapture -%}

      {%- assign isActive = false -%}
      {%- if collection.current_type == blank and type == blank -%}
        {%- assign isActive = true -%}
      {%- elsif type == collection.current_type -%}
        {%- assign isActive = true -%}
      {%- endif -%}

      <a
        href="?type={{ type | downcase }}"
        class="c-collection-faceted-nav__filter {% if isActive %}is-active{% endif %}"
        data-faceted-nav-type data-type="{{ type | default: 'all' | escape }}"
      >
        {{ type | default: 'All' | escape }}
      </a>
    {%- endfor -%}
  </div>

</nav>
