{%- comment -%}
  Collection Template Banner
    Banner for the top of the collection template.

  Version:
    1.0.0 - 2019/01/08
{%- endcomment -%}
<header role="banner" class="c-collection-template-banner">
  {%- comment -%} Background {%- endcomment -%}
  {%- if collection.image != blank -%}
    {%- include 'tool.picture' with {
      image: collection.image,
      class: 'c-collection-template-banner__image'
    } -%}
  {%- endif -%}

  {%- comment -%} Content {%- endcomment -%}
  <div class="c-collection-template-banner__content">
    <h2 class="o-title is-large c-collection-template-banner__title">
      {%- assign name = customer.first_name | default: customer.name | default: customer.last_name | default: 'there' -%}
      {{- 'collections.banner.title' | t: name: name -}}
    </h2>

    <div class="c-collection-template__vendors">
      <a href="#" class="o-btn is-wide is-secondary c-collection-template-banner__btn" data-view-bundle>
        {{ 'collections.banner.view_bundle' | t}}
      </a>

      <div class="c-collection-template__vendors-popup" data-view-bundle-popup>
        <div class="c-collection-template__vendors-popup-heading">
          <div class="c-collection-template__vendors-popup-title o-heading is-size-2">
            {{ 'collections.banner.bundle_popup.title' | t}}
          </div>

          <a href="/pages/edit-vendors" class="c-collection-template__vendors-popup-link o-link">
            {{ 'collections.banner.bundle_popup.edit' | t}}
          </a>
        </div>

        <div class="c-collection-template__vendors-popup-vendors">
          {%- for vendor in customer.metafields.bundlfresh.vendors -%}
            {%- assign vendorHandle = vendor[1] | handleize -%}
            {%- assign vendorCollection = collections[vendorHandle] -%}

            <div class="c-collection-template__vendors-popup-vendor">
              <a href="{{ vendorCollection.url }}" class="c-collection-template__vendors-popup-vendor-picture">
                {%- if vendorCollection.image -%}
                  {%- include 'tool.picture' with {
                    image: vendorCollection.image,
                    class: 'c-collection-template__vendors-popup-vendor-image'
                  } -%}
                {%- endif -%}
              </a>

              <p class="c-collection-template__vendors-popup-vendor-title">
                {{- vendorCollection.title | escape -}}
              </p>
            </div>
          {%- endfor -%}
        </div>

      </div>
    </div>

  </div>
</header>
