{% comment %}
  Collection Carousel
    Collection of products in a carousel. Products can be supplied in one of
    many different formats but the snippet will always convert it to an array
    of real products wherever possible.

    Note that the best method is to either supply an already setup array of
    products, or a collection itself to fetch a real array of products from.

    While you can supply an array of product handles, this will use some of the
    page's all_products calls, and therefore is not very efficient.

  Params:
    collection - Collection of products
    products - Array of products, or product handles
    class - Extra classes to append to the container
    title - Title of the section, if no title but collection then use it's title

  Version:
    1.0.0 - 2018/11/27
{% endcomment %}

{%- comment -%} First, generate a valid set of products {%- endcomment -%}
{%- if collection != blank -%}
  {%- assign products = collection.products -%}
  {%- if title == blank -%}
    {%- assign title = collection.title -%}
  {%- endif -%}
{%- endif -%}

{%- if thumbnail == blank -%}
  {%- assign thumbnail = 'object.product-thumbnail' -%}
{%- endif -%}

<section
  data-collection-carousel
  {% if section != blank %}data-section data-section-id="{{ section.id }}"{% endif %}
  {% if attributes != blank %}{{ attributes }}{% endif %}
  class="c-collection-carousel {{ class | default: '' }}"
>
  {%- comment -%} Title {%- endcomment -%}
  {%- if title != blank or heading != blank -%}
    <header role="banner" class="c-section__heading c-collection-carousel__heading">
      {%- if title != blank -%}
        <h2 class="o-heading is-size-1 c-collection-carousel__title">
          {{- title | escape -}}
        </h2>
      {%- endif -%}
    </header>
  {%- endif -%}

  {%- comment -%} Products themselves {%- endcomment -%}
  <div class="c-collection-carousel__products" data-collection-carousel-products>
    {%- for product in products -%}
      {%- comment -%} Now this may just be a product handle, let's confirm {%- endcomment -%}
      {%- if product.id == blank -%}{%- assign product = all_products[product] -%}{%- endif -%}

      {%- comment -%} Now Print the Product thumbnail {%- endcomment -%}
      {%- include thumbnail with {
        product: product, collection: collection
      } -%}
    {%- endfor -%}
  </div>

  {%- if button -%}
    {%- if url == blank -%}
      {%- assign url = collection.url -%}
    {%- endif -%}

    <footer class="c-section__footer">
      <a href="{{ url }}" class="o-btn is-large is-wide is-secondary">
        {{- buttonLabel | default: 'View all' | escape -}}
      </a>
    </footer>
  {%- endif -%}
</section>
