{%- comment -%}
  Featured Blog Article
    Article thumbnail for the featured blog section

  Parameters:
    article - Article to print
    blog - Blog the article belongs to
    isFeatured - Is this a featured article? (Larger display)

  Version:
    1.0.0 - 2019/01/07
{%- endcomment -%}
<article itemscope itemtype="article" class="c-featured-blog__article {% if isFeatured %}is-featured{% endif %}">
  <a href="{{ article.url }}" class="c-featured-blog__article-image" itemprop="sameAs">
    {%- include 'tool.picture' with {
      image: article.image,
      class: 'c-featured-blog__article-image-image',
      width: 600,
      widths: '300,150,75',
      attributes: 'itemprop="image"'
    } -%}
  </a>

  <div class="c-featured-blog__article-content">
    <h3 class="o-title is-size-{% if isFeatured %}3{% else %}4{% endif %} c-featured-blog__article-title">
      <a href="{{ article.url }}" itemprop="sameAs">
        <span itemprop="name">{{ article.title | escape }}</span>
      </a>
    </h3>

    {%- if article.excerpt != blank -%}
      <div class="c-featured-blog__article-excerpt" itemprop="description">
        {{- article.excerpt -}}
      </divq>
    {%- endif -%}

    <a href="{{ article.url }}" itemprop="sameAs" class="o-link c-featured-blog__article-readmore">
      {{- 'blogs.article.read_more' | t -}}
    </a>
  </div>
</article>
