{% comment %}
  Forgot Password Form
    Simple forgot password form

  Dependencies:
    styles/objects/_form.scss
    styles/objects/_buttons.scss

  Version:
    1.0.0 - 2018/02/21
{% endcomment %}
<div class="c-reset-password-form">
  <h3 class="o-title">{{ 'customer.recover_password.title' | t}}</h3>
  <p class="c-reset-password-form__description">{{ 'customer.recover_password.subtext' | t }}</p>

  {% form 'recover_customer_password' %}
    <input type="hidden" name="return_to" value="/account/login#recovered-password" />
    {%- if form.errors -%}
      <div class="o-form__errors c-login-form__form-errors">
        {{form.errors | default_errors }}
      </div>
    {%- endif -%}

    {%-if form.posted_successfully?-%}
      <p class="o-form__password-success">
        {{'customer.recover_password.success' | t}}
      </p>
    {%-else-%}

      <div class="o-form__group {%if form.errors contains 'email'%}has-error{%endif%}">
        <label class="c-reset-password-form__form__label" for="email">
          {{ 'customer.recover_password.email' | t }}
        </label>
        <input
          type="email"
          placeholder="{{'customer.recover_password.email_placeholder' | t}}"
          name="email"
          class="
            o-input
            o-form__text
            {%if form.errors contains 'email'%}has-error{%endif%}
          "
          value="{%if form.email%}{{form.email}}{%endif%}"
          required
          spellcheck="false"
          autocomplete="off"
          autocapitalize=-"off"
        />
      </div>

      <button type="submit" class="o-btn o-btn-solid">
        {{ 'customer.recover_password.submit' | t }}
      </button>

    {%-endif%}

    <button type="button" class="o-btn o-btn--transparent o-btn--primary-cancel " data-login-form-cancel-forgot-password>
      <small>« </small>{{ 'customer.recover_password.cancel' | t }}
    </button>
  {% endform %}
</div>
