{% comment %}
  Hamburger Menu
    Menu in a hamburger form with a drawer from the side.

  Dependencies:
    styles/components/_hamburger-menu.scss
    styles/components/_drawer.scss
    scripts/components/_hambruger-menu.js

  Parameters:
    menu - The menu to pass
    buttonClass - Class to add to the button

  Version:
    2.0.0 - 2018/09/24

{% endcomment %}
<div class="c-hamburger-menu {{ class }}" data-hamburger-menu>
  {%- comment -%} Toggle Button {%- endcomment -%}
  <button type="button" class="c-hamburger-menu__button {{ buttonClass }}" data-hamburger-menu-toggle>
    {%- assign iconClazz = 'c-hamburger-menu__icon ' | append: iconClass -%}

    {%- assign hamburgerIconClazz = iconClazz | append: ' is-hamburger' -%}
    {%- include 'object.icon' with {
      icon: 'hamburger', class: hamburgerIconClazz, title: 'cart.general.title'
    } -%}

    {%- assign hamburgerIconClazz = iconClazz | append: ' is-close' -%}
    {%- include 'object.icon' with {
      icon: 'close', class: hamburgerIconClazz, title: 'cart.general.title'
    } -%}
  </button>

  {%- comment -%} Drawer Body {%- endcomment -%}
  {%- capture drawer -%}
    <nav class="c-hamburger-menu__nav">
      {%- comment -%} Main Menu {%- endcomment -%}
      <ul class="c-hamburger-menu__menu">

        {% comment %} Menu {% endcomment %}
        {%- for menulink in menu.links -%}
          {%- include 'hamburger-menu--link' with { link: menulink } -%}
        {%- endfor -%}

        {%- comment -%} Spacer {%- endcomment -%}
        <li class="c-hamburger-menu__menu-item"><span class="c-hamburger-menu__menu-link"></span></li>

        {%- comment -%} Search {%- endcomment -%}
        <li class="c-hamburger-menu__menu-item">
          <a href="/search" class="c-hamburger-menu__menu-link">{{ 'general.search.title' | t }}</a>
        </li>

        {%- comment -%} Account {%- endcomment -%}
        {%- if shop.customer_accounts_enabled -%}
          <li class="c-hamburger-menu__menu-item">
            {%- assign clz = 'class="c-hamburger-menu__menu-link"' -%}
            {%- if customer -%}
              <a href="/account" {{ clz }}>
                {{ 'layout.customer.account' | t }}
              </a>
            {%- else -%}
              <a href="/account/login" {{ clz }}>
                {{- 'layout.customer.log_in' | t -}}
              </a>
            {%- endif -%}
          </li>
        {%- endif -%}

      </ul>
    </nav>
  {%- endcapture -%}

  {{ drawer }}
</div>
