<div
  class="o-product-thumbnail"
  data-product-thumbnail data-product-handle="{{ product.handle }}"
  data-product-id="{{ product.id }}" data-variant-id="{{ variant.id }}"
  itemprop="itemListElement" itemscope itemtype="http://schema.org/Product"
>
  {%- comment -%} Product Meta {%- endcomment -%}
  {%- include 'meta.product-thumbnail' -%}

  {%- comment -%} Product Image {%- endcomment -%}
  <a href="/account/login" class="o-product-thumbnail__picture">
    {%- include 'tool.picture' with {
      image: product.featured_image,
      class: 'o-product-thumbnail__picture-image',
      attributes: 'itemprop="image"'
    } -%}
  </a>

  {%- comment -%} Product Title {%- endcomment -%}
  <div class="o-product-thumbnail__details">
    <h3 itemprop="name" class="o-product-thumbnail__details-title">
      {{- product.title | escape -}}
    </h3>

    {%- if product.vendor != blank -%}
      <span
        itemprop="brand"
        class="o-heading is-size-3 o-product-thumbnail__details-vendor"
      >
        {{- product.vendor | escape -}}
      </span>
    {%- endif -%}
  </div>
</div>
