  {% comment %}
  Address Template
    Template for addresses page.

  Dependencies:
    styles/components/_addresses-page.scss
    snippets/address-form.liquid - Reusable form for address entry/editing
    scripts/components/_template-addresses.js
    scripts/tools/language.js - Required for certain JS controlled messages.

  Version:
    1.0.0 - 2018/02/21
{% endcomment %}

<script type="text/javascript">
  {%-assign t = 'customer.addresses.delete_confirm' -%}
  window.Language.strings[{{ t | json }}] = {{t | t | json}};
</script>

<div class="c-addresses-template" data-addresses-template>
  <header class="c-addresses-template__header">
    <a href="/account" class="o-btn is-quaternary is-large c-addresses-template__btn-account">
      {{ 'customer.account.return' | t }}
    </a>

    <button type="button" class="o-btn is-secondary is-large" data-address-create-toggle>
      {{ 'customer.addresses.add_new' | t }}
    </button>
  </header>

  <section class="c-addresses-template__create-address" data-addresses-template-create>
    {%-form 'customer_address', customer.new_address -%}
      {%-include 'address-form' with { address: '', isEdit: false } -%}
    {%-endform-%}
  </section>

  <section class="c-addresses-template__address-list">
    {%- for address in customer.addresses -%}
      <div class="c-addresses-template__address" data-index="{{forloop.index0}}" >
        {%-if address == customer.default_address-%}
          <strong>
            {{- 'customer.addresses.default' | t -}}
          </strong>
        {%-endif-%}
        {{ address | format_address }}

        <div class="c-address__address-controls">
          <a href="#" class="o-btn is-secondary" data-index="{{forloop.index0}}" data-address-edit-toggle>
            {{- 'customer.addresses.edit' | t -}}
          </a>

          <a href="#" class="o-btn is-quaternary" data-address-delete data-id="{{address.id}}">
            {{- 'customer.addresses.delete' | t -}}
          </a>
        </div>

        <div
          class="c-addresses-template__edit-address"
          data-address-template-edit
          data-index="{{forloop.index0}}"
        >
          {% form 'customer_address', address %}
            {%-include 'address-form' with {
              address: address
            } -%}
          {% endform %}
        </div>
      </div>
    {%- endfor -%}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </section>
</div>
