{% comment %}
  Featured Video
    Featured Video section

  Version:
    2.0.0 - 2018/11/05
{% endcomment %}

{% comment %} Determine the mobile and desktop images {% endcomment %}
{%- include 'tool.mobile-desktop-image' with {
  mobileImage: section.settings.image-mobile,
  desktopImage: section.settings.image-desktop
} -%}

<section class="c-featured-video">
  {% comment %} Banner (Contains image and mobile content) {% endcomment %}
  <div class="c-featured-video__banner">
    {%- comment -%} Image (Mobile) {%- endcomment -%}
    {%- if hasImage -%}
      {%- include 'tool.picture' with {
        image: mobile,
        class: 'c-featured-video__image is-mobile'
      } -%}

      {%- comment -%} Image (Desktop) {%- endcomment -%}
      {%- include 'tool.picture' with {
        image: desktop,
        class: 'c-featured-video__image is-desktop'
      } -%}
    {%- endif -%}

    {% comment %} Title (Mobile specific) {% endcomment %}
    <h1 class="o-title c-featured-video__title for-mobile">
      Fresh Produce Delivered to you in a Bundle!
    </h1>

    {% comment %} Play Icon and text {% endcomment %}
    <a href="{{ section.settings.video | default: '#' }}" class="c-featured-video__play" data-lity>
      {%- include 'object.icon' with {
        icon: 'play-button',
        class: 'c-featured-video__play-icon'
      } -%}

      <h1 class="o-heading is-size-1 c-featured-video__play-heading">
        {{- section.settings.play-label | escape -}}
      </h1>
    </a>
  </div>

  <div class="c-featured-video__content">
    {% comment %} Title (Mobile specific) {% endcomment %}
    <h1 class="o-title c-featured-video__title for-desktop">
      {{- section.settings.s-title | escape -}}
    </h1>

    <p>
      {{- section.settings.text | escape | newline_to_br -}}
    </p>
    {%- if section.settings.button-label != blank -%}
      <a href="{{ section.settings.button-link | default: '#' }}" class="o-btn is-secondary is-large c-featured-video__btn">
        {{ section.settings.button-label | escape }}
      </a>
    {%- endif -%}

    {%- if section.settings.link-label != blank -%}
      <a href="{{ section.settings.link-link | default: '#' }}" class="o-link is-block">
        {{ section.settings.link-label | escape }}
      </a>
    {%- endif -%}
  </div>
</section>

{% schema %}
  {
    "name": "Featured Video",
    "class": "c-section c-section__featured-video",
    "settings": [
      {
        "type": "header",
        "content": "Image Settings"
      },
      {
        "id": "image-desktop",
        "label": "Image Desktop",
        "type": "image_picker",
        "info": "Recommended resolution: 2400x1200"
      },
      {
        "id": "image-mobile",
        "label": "Image Mobile",
        "type": "image_picker",
        "info": "Mobile screen specific image, recommended resolution: 1200x2000"
      },
      {
        "type": "header",
        "content": "Video Settings"
      },
      {
        "type": "video_url",
        "id": "video",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "text",
        "id": "play-label",
        "default": "How it works",
        "label": "Play Label"
      },

      {
        "type": "header",
        "content": "Content Settings"
      },
      {
        "type": "text",
        "id": "s-title",
        "label": "Title",
        "default": "Fresh produce delivered to you in a bundle!"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Build your store and select your favourite vendors to start shopping with Bundlfresh."
      },

      {
        "type": "header",
        "content": "Button Settings"
      },
      {
        "type": "text",
        "label": "Button Label",
        "id": "button-label",
        "default": "Build your store"
      },
      {
        "type": "url",
        "id": "button-link",
        "label": "Button Link"
      },

      {
        "type": "header",
        "content": "Link Settings"
      },
      {
        "id": "link-label",
        "type": "text",
        "default": "Partner Regsitration",
        "label": "Link Label"
      },
      {
        "id": "link-link",
        "type": "url",
        "label": "Link URL"
      }
    ],
    "presets": [
      {
        "name": "Featured Video",
        "category": "Video"
      }
    ]
  }
{% endschema %}
