{% comment %}
  Featured Location
    Section to show off a given location, incldues an image as well as a title,
    subtitle and a location picker, plus some text and a hyperlink that can be
    used to link through to a site.

  Version:
    1.0.0 - 2018/11/26
{% endcomment %}

<section class="c-featured-location">
  {%- comment -%} Left Hand (Content), Includes image on mobile {%- endcomment -%}
  <div class="c-featured-location__content">

    {% comment %} Titles and Location {% endcomment %}
    <h3 class="o-pretitle c-featured-location__pretitle">
      {{- section.settings.pretitle | escape -}}
    </h3>
    <h2 class="o-title c-featured-location__title">
      {{- section.settings.s-title | escape -}}
    </h2>

    {%- if section.settings.location != blank -%}
      <span class="o-location is-alt">
        {%- include 'object.icon' with {
          icon: 'location', class: 'o-location__icon',
          title: block.settings.title
        } -%}
        <span class="o-location__title">
          {{- section.settings.location | escape -}}
        </span>
      </span>
    {%- endif -%}

    {% comment %} Mobile Specific Image {% endcomment %}
    {%- include 'tool.picture' with {
      image: section.settings.image,
      class: 'c-featured-location__image is-mobile'
    } -%}

    {% comment %} Content {% endcomment %}
    {%- if section.settings.text != blank -%}
      <p>
        {{- section.settings.text | escape | newline_to_br -}}
      </p>
    {%- endif -%}

    {%- if section.settings.extra-text != blank -%}
      <p class="c-featured-location__content-extra">
        {{- section.settings.extra-text | escape | newline_to_br -}}
      </p>
    {%- endif -%}

    {% comment %} Read More {% endcomment %}
    {%- if section.settings.read-more != blank -%}
      <a href="{{ section.settings.url | default: '#' }}" class="c-featured-location__link o-link">
        {{- section.settings.read-more | escape -}}
      </a>
    {%- endif -%}
  </div>

  {%- comment -%} Right Hand (Image), Hidden on mobile {%- endcomment -%}
  <div class="c-featured-location__banner">
    {%- include 'tool.picture' with {
      image: section.settings.image,
      class: 'c-featured-location__image is-desktop'
    } -%}
  </div>
</section>

{% schema %}
  {
    "name": "Featured Location",
    "class": "c-section c-section__featured-location",
    "settings": [
      {
        "id": "image",
        "label": "Image",
        "type": "image_picker"
      },
      {
        "id": "s-title",
        "type": "text",
        "default": "Lorem ipsum dolor",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Title Settings"
      },
      {
        "id": "pretitle",
        "type": "text",
        "default": "Sit amet",
        "label": "Pretitle"
      },

      {
        "type": "header",
        "content": "Content Settings"
      },
      {
        "id": "text",
        "label": "Text",
        "type": "textarea",
        "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      },
      {
        "id": "extra-text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        "label": "Desktop Extra Text",
        "type": "textarea"
      },
      {
        "id": "location",
        "label": "Location",
        "type": "text",
        "default": "Narrabeen"
      },

      {
        "type": "header",
        "content": "Read More Settings"
      },
      {
        "id": "url",
        "label": "Read More Link",
        "type": "url"
      },
      {
        "id": "read-more",
        "label": "Read More Text",
        "type": "text",
        "default": "Read More"
      }
    ],
    "presets": [
      {
        "name": "Featured Location",
        "category": "Location"
      }
    ]
  }
{% endschema %}
