{%- comment -%}
  Collection Template
    Section to control template of collection page.

  Version:
    1.0.1 - 2019/06/11
{%- endcomment -%}

{%- include 'tool.collection-per-page' -%}

<section class="c-collection-template"  itemscope itemtype="http://schema.org/ItemList">

  {%- comment -%} Collection Description {%- endcomment -%}
  {%- if collection.description != blank -%}
    
    <div class=" c-collection-template__description" >
        {% if collection.description contains '<!-- split -->' %}
          {{ collection.description | split: '<!-- split -->' | first }}
        {% else %}
          {{- collection.description -}}
        {% endif %}
    </div>

  {% else %}

    {% comment %}Main Title{% endcomment %}
    <h1 class="c-collection-template__title">
        {{ collection.title -}}
    </h1>

  {%- endif -%}

  {%- comment -%} Filter Bar Loop {%- endcomment -%}
  
  {% if collection.products.size > 0 %}
  {%- paginate collection.products by perPage -%}


    {%- comment -%} Product Loop {%- endcomment -%}
    <div class="c-collection-template__products-container is-expanded"
      data-collection-template
      data-collection-handle="{{ collection.handle | escape }}"
      data-collection-per-page="{{ perPage }}"
    >

      {%- comment -%} Supply Data to the AjaxCollection {%- endcomment -%}
      <script type="application/json" data-collection-json>
        {%- include 'json.collection' with { collection: collection, genHandles: false } -%}
      </script>
      {%- unless paginate.current_page == 1 -%}
        <script type="application/json" data-collection-handles>
          {%- include 'tool.collection-product-handles' with { collection: collection } -%}
        </script>
      {%- endunless -%}

      <div class="c-collection-template__filter-drawer" data-collection-product-filters>
        {%- include 'faceted-nav' -%}
      </div>

      

      <div class="c-collection-template__product-loop" data-collection-template-products>
        <div class="c-collection-template__filter-row">

          {%- comment -%} Sort Collection {%- endcomment -%}
          <select class="c-collection-template__sort" data-collection-template-sort><option>Order by</option></select>

          {%- comment -%} View Per Page {%- endcomment -%}
          <select class="c-collection-template__per-page" data-collection-template-perpage>
            <option value="60" selected="" >Show: 60 </option>
            <option value="120">Show: 120 </option>
            <option value="180">Show: 180 </option>
            <option value="all">Show: All</option>
          </select>

        </div>
        
      
        {%- for product in collection.products -%}
          {% continue %}
          {%- include 'object.product-thumbnail' with {
            product: product,
            variant: product.selected_or_first_available_variant,
            collection: collection,
            class: 'c-collection-template__product'
          } -%}
        {%- endfor -%}

      </div>

  </div>

    {%- endpaginate -%}


  {% else %}

    <p class="c-collection-template__empty">{{ 'collections.general.empty' | t }}</p>

  {% endif %}
  {% if collection.description contains '<!-- split -->' %}
    <div class="c-collection-template__footer">
          
            <h1 class="c-collection-template__footer__heading">{{collection.title}}</h1>
            {{ collection.description | split: '<!-- split -->' | last }}
          
    </div>
  {% endif %}

</section>


{% schema %}
  {
    "name": "Collection Template",
    "class": "c-section__collection-template",
    "settings": []
  }
{% endschema %}
