{%- comment -%}
  Product Template
    Product Template File

  Version:
    3.0.0 - 2019/01/21
{%- endcomment -%}
{%- assign variant = product.selected_or_first_available_variant -%}

{%- include 'meta.ld-product' -%}

<section
  class="c-product-template"
  data-product-template data-product-id="{{ product.id }}"
  itemscope itemtype="http://schema.org/Product"
>
  {%- comment -%} Meta tags, and Product JSON for JS {%- endcomment -%}
  {%- include 'meta.product-template' -%}
  <script type="application/json" data-product-json>
    {%- include 'json.product' with { product: product } -%}
  </script>

  {%- comment -%} Back Button {%- endcomment -%}
  {%- assign url = collection.url | default: '/collections/all' -%}
  <a href="{{ url }}" class="c-product-template__back">
    {%- include 'object.icon' with {
      icon: 'chevron-left', class: 'c-product-template__back-icon'
    } -%}
    <span>{{ 'products.general.back' | t }}</span>
  </a>

  {%- comment -%} Page Split {%- endcomment -%}
  <div class="c-product-template__split">
    {%- comment -%} Left Split (Product Details) {%- endcomment -%}
    <div class="c-product-template__split-left">
      <form
        method="POST" action="/cart/add"
        enctype="multipart/form-data" class="c-product-template__details"
      >
        {%- comment -%} Title and Vendor {%- endcomment -%}
        <h1 class="o-title c-product-template__title" itemprop="name">
          {{- product.title | escape -}}
        </h1>
        {%- if product.vendor != blank -%}
          <span class="o-heading is-size-3 c-product-template__vendor" itemprop="brand">
            {{- product.vendor | escape -}}
          </span>
        {%- endif -%}

        {%- comment -%} Product Template Tags {%- endcomment -%}
        {%- if product.tags.size > 0 -%}
          <span class="c-product-template__tags">
            {%- for tag in product.tags -%}
              {{ tag | escape }}
              {%- unless forloop.last %}, {% endunless -%}
            {%- endfor -%}
          </span>
        {%- endif -%}

        {%- comment -%} Price {%- endcomment -%}
        {%- include 'object.product-pricing' with {
          price: variant.price,
          compare_price: variant.compare_at_price,
          class: 'c-product-template__price'
        } -%}

        {%- comment -%} Variant Selector {%- endcomment -%}
        {%- include 'object.product-template-swatches' with {
          class: 'c-product-template__variant-selector'
        } -%}

        {%- comment -%} Quantity Selector and Add to cart {%- endcomment -%}
        <div class="c-product-template__cart">
          {%- assign max = "null" -%}
          {%- include 'tool.is-available' with { variant: variant } -%}
          {%- if isAvailable -%}
            {%- assign max = variant.inventory_quantity -%}
            {%- if max == blank or max <= 0 %}{% assign max = "null" %}{% endif -%}
          {%- endif -%}

          {%- include 'object.quantity-selector' with {
            class: 'c-product-template__cart-selector',
            value: 1, min: 1, max: max
          } -%}

          <div class="c-product-template__cart-add" data-product-template-add-to-cart>
            <button
              type="submit"
              class="o-btn is-secondary is-large c-product-template__cart-add-button {% if variant.available != true %}is-disabled{% endif %}"
              {% if variant.available != true %}disabled{% endif %}
              data-add-to-cart-button
            >
              {%- if variant.available -%}
                {{- 'products.product.add_to_cart' | t -}}
              {%- else -%}
                {{- 'products.product.sold_out' | t -}}
              {%- endif -%}
            </button>

            {% comment %}
              <a href="/cart" class="c-product-template__cart-add-notification" data-add-to-cart-notification>
                {{ 'products.product.view_cart' | t }}
              </a>
            {% endcomment %}
          </div>
        </div>

        {%- comment -%} Description {%- endcomment -%}
        {%- if product.description != blank -%}
          <div class="c-product-template__description">{{- product.description -}}</div>
        {%- endif -%}

        {%- comment -%} Accordions {%- endcomment -%}
        {%- assign accordions = product.metafields.accordions -%}
        {%- if accordions != blank -%}
          <div class="c-product-template__accordion o-accordion" data-product-template-accordion>
            {%- for i in (1..10) -%}
              {%- assign titleTag = 'title_' | append: i -%}
              {%- assign bodyTag = 'body_' | append: i -%}

              {%- assign title = accordions[titleTag] -%}
              {%- assign body = accordions[bodyTag] -%}

              {%- if title == blank and body == blank -%}{%- continue -%}{%- endif -%}

              <div class="o-accordion__slide c-product-template__accordion-slide" data-accordion-slide>
                <div class="o-accordion__slide-title c-product-template__accordion-slide-title" data-accordion-title>
                  <p>{{- title | escape -}}</p>
                  {%- include 'object.icon' with {
                    icon: 'plus', class: 'o-accordion__slide-icon is-open'
                  } -%}
                  {%- include 'object.icon' with {
                    icon: 'minus', class: 'o-accordion__slide-icon is-close'
                  } -%}
                </div>

                <div class="o-accordion__slide-body" data-accordion-body>
                  <p>{{- body | escape | newline_to_br -}}</p>
                </div>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

      </form>
    </div>



    {%- comment -%} Right Split (Product Carousel) {%- endcomment -%}
    <div class="c-product-template__split-right c-product-template__images">
      {%- include 'product-carousel' -%}
    </div>
  </div>
</section>

{%- comment -%} Related Products Carousel {%- endcomment -%}
{%- include 'related-vendor-products' with {
  title: section.settings.vendor-title
} -%}


{% schema %}
  {
    "name": "Product Template",
    "class": "c-section c-section__product-template",
    "settings": [
      {
        "type": "text",
        "label": "Vendor Title",
        "id": "vendor-title",
        "default": "Other produce from this vendor"
      }
    ]
  }
{% endschema %}
