<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
    {% comment %} Browser Meta tags {% endcomment %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {% comment %} Favicon {% endcomment %}
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {% comment %} Page Title {% endcomment %}
    {%- capture seo_title -%}
      {{ page_title }}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {% comment %} SEO Meta Tags {% endcomment %}
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% include 'social-meta-tags' %}

    {% comment %} Stylesheets {% endcomment %}
    {% include 'tool.css-variables' %}
    {% include 'style-tags', layout: 'theme' %}

    {% comment %} JavaScript {% endcomment %}
    {% include 'tool.js-variables' -%}

    {% comment %} Shopify Injects {% endcomment %}
    {{ content_for_header }}
  </head>

  <body>
    {% comment %} Static Header Sections {% endcomment %}
    {%- section 'header' -%}

    {% comment %} JSON Content for Layout {% endcomment %}
    {{ content_for_layout }}

    {% comment %} Static Footer Sections {% endcomment %}


    {% comment %} The actual page container {% endcomment %}
    <div id="main">
      Testing some stuff here
    </div>

    {% comment %} Finally we can load the JS for the site {% endcomment %}
    {% include 'script-tags', layout: 'theme' %}
  </body>
</html>
